body{
  background: #192734;
  color: #303030;
  font-family: 'Segoe UI';
}

label{
  width: 5%;
  display: inline-block;
  text-align: right;
}

input{
  background: #e5e5e5;
  color: #303030;
  font-size: 120%;
  border: none;
}

.Message{
  color: #a0a0a0;
}

#Main{
  background: #7f7f7f;
  border-radius: 1%;
  padding-left: 1%;
}

#Title{
  font-size: 300%;
}